@import "../../styles/mixins";

// ROOT
.container {
  padding: 1rem 1.2rem;
  background-color: #112b46;

  color: #f7eef5;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    line-height: 70%;
  }

  position: relative;

  header,
  section {
    margin: 2.25rem 0;
    max-width: 1100px;

    margin: auto;
  }

  // transform: translateY(-60px) // todo - remove universal header set on _document.tsx
}

.header {
  @apply flex justify-between items-center py-2;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }

  .social-link {
    @apply p-2 border-2 border-[#bbd2e5] rounded-xl;
  }
}

.background-container {
  img,
  div {
    @apply absolute h-screen;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .gradient-overlay {
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0) 0%,
      rgba(17, 43, 70, 0.1) 5%,
      rgba(17, 43, 70, 0.7) 80%,
      rgba(17, 43, 70, 1) 100%
    );
  }
}

.greetings {
  @apply grid grid-cols-2 items-center justify-items-center w-full;
  position: relative;

  min-height: calc(100vh - 5rem);

  font-size: larger;

  .hello {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 6rem;
      line-height: 5rem;
    }

    h1 span {
      font-size: 1.8rem;
    }

    > span {
      font-size: 2rem;
    }

    div span {
      font-size: 1.8rem;
      align-self: baseline;
    }

    @media (max-width: 780px) {
      font-size: 10px;
      h1 {
        font-size: 4rem;
        line-height: 5rem;
      }

      h1 span {
        font-size: 1.2rem;
      }

      > span {
        font-size: 1.4rem;
      }

      div span {
        font-size: 1.4rem;
        align-self: baseline;
      }
    }
  }

  .profile-picture {
    @apply rounded-full p-2 bg-[#bfbfbf91];

    img {
      @apply w-[24rem];
    }
  }

  .technologies {
    @apply col-span-full flex flex-col justify-around w-[80%] py-8 h-full;

    font-size: 1.8rem;

    span {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }

      letter-spacing: 0.4rem;
    }
  }
}
// Timeline
.timeline {
  @apply relative min-h-screen;

  .timeline-row {
    @apply px-4 justify-start;

    margin: 2rem 0;
    width: 100%;

    .row-title {
      width: 100%;
      margin-bottom: 1rem;
      // background-color: aqua;
      border-bottom: 1px solid #bfbfbf29;
    }

    .col {
      width: 48%;
      // // font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        line-height: 1.8rem;
        letter-spacing: 0.2rem;

        text-align: justify;
      }

    }

    .col-content-wrapper {
      @apply flex justify-between min-h-[20vh];
    }

    .col-separator-dot {
      @apply h-3 w-3 bg-white border-2 border-[#87878799] rounded-full my-auto;
      z-index: 5;
    }

    h2 {
      font-size: 2rem;
      letter-spacing: 0.35rem;
    }
  }
}

// Components
.icons-row {
  @apply flex justify-between items-center;

  gap: 1rem;

  @media (max-width: 780px) {
    @apply grid grid-cols-4;

    row-gap: 0.5rem;

    justify-items: center;

    svg {
      margin: auto;
    }
  }

  svg {
    font-size: 2.3rem;
  }
}

.icon {
  @apply flex justify-center items-center rounded-md;
  height: 4rem;
  width: 4rem;

  background-color: rgba(20, 74, 124, 0.294);
  border: 1px solid #87878799;
  > svg {
    font-size: 2rem;
    margin: auto;
  }
}

// * OK
.separator {
  @apply absolute top-0 left-0;
  left: 50%;
  top: 0;

  height: 100%;
  width: 4px;
  transform: translateX(-50%);

  // background-color: rgba(217, 217, 217, 0.657);
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    rgba(217, 217, 217, 0.2) 2.31%,
    rgba(217, 217, 217, 0.5) 5%,
    rgba(217, 217, 217, 0.7) 90%,
    rgba(217, 217, 217, 0) 100%
  );
  z-index: 1;
}

.contactButton {
  @apply rounded-3xl px-8 py-2 border-2 border-slate-50 col-span-full transition-colors;
  opacity: 0.9;

  max-width: 600px;
  margin: 1rem auto;

  color: rgba(255, 255, 255, 0.6);

  &:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }
}
